@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: rgb(2 6 23 / 1);
  color: rgb(203 213 225 / 1);
  font-family: 'Menlo', 'Consolas', 'Monaco', monospace;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prose {
  --tw-prose-body: theme(colors.slate.300);
  --tw-prose-headings: theme(colors.cyan.400);
  --tw-prose-lead: theme(colors.slate.400);
  --tw-prose-links: theme(colors.white);
  --tw-prose-bold: theme(colors.white);
  --tw-prose-counters: theme(colors.slate.400);
  --tw-prose-bullets: theme(colors.cyan.400);
  --tw-prose-hr: theme(colors.slate.700);
  --tw-prose-quotes: theme(colors.slate.300);
  --tw-prose-quote-borders: theme(colors.slate.700);
  --tw-prose-captions: theme(colors.slate.400);
  --tw-prose-code: theme(colors.cyan.400);
  --tw-prose-pre-code: theme(colors.slate.300);
  --tw-prose-pre-bg: theme(colors.black / 50%);
  --tw-prose-th-borders: theme(colors.slate.600);
  --tw-prose-td-borders: theme(colors.slate.700);
}

.prose-invert {
  --tw-prose-body: theme(colors.slate.300);
  --tw-prose-headings: theme(colors.cyan.400);
  --tw-prose-lead: theme(colors.slate.400);
  --tw-prose-links: theme(colors.white);
  --tw-prose-bold: theme(colors.white);
  --tw-prose-counters: theme(colors.slate.400);
  --tw-prose-bullets: theme(colors.cyan.400);
  --tw-prose-hr: theme(colors.slate.700);
  --tw-prose-quotes: theme(colors.slate.300);
  --tw-prose-quote-borders: theme(colors.slate.700);
  --tw-prose-captions: theme(colors.slate.400);
  --tw-prose-code: theme(colors.cyan.400);
  --tw-prose-pre-code: theme(colors.slate.300);
  --tw-prose-pre-bg: theme(colors.black / 50%);
  --tw-prose-th-borders: theme(colors.slate.600);
  --tw-prose-td-borders: theme(colors.slate.700);
}

.prose code::before,
.prose code::after {
  content: "" !important;
}
